In [1]:
import csv
import pandas as pd

In [2]:
file_path = 'ucs_data.csv'

In [3]:
df = pd.read_csv(file_path)

In [4]:
df.head()

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,1HOPSAT-TD (1st-generation High Optical Perfor...,Lemur,NR (12/20),USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAUSat-4,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABS-2A,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for i,country in enumerate(df['Country of Contractor']):
    if type(country) is 'float':
        print('blank')
        df.at[i,'Country of Contractor'] = "Unknown"

In [6]:
for country in enumerate(df['Country of Operator/Owner']):
    if type(country) is 'float':
        df.at[i,'Country of Operator/Owner'] = "Unknown"

In [7]:
sites = df['Launch Site']

In [8]:
sites_counts = df['Launch Site'].value_counts()

In [9]:
sites_counts

Cape Canaveral                           2131
Baikonur Cosmodrome                       381
Guiana Space Center                       349
Satish Dhawan Space Centre                241
Vostochny Cosmodrome                      237
Vandenberg AFB                            232
Jiuquan Satellite Launch Center           175
Taiyuan Launch Center                     153
Xichang Satellite Launch Center           148
Plesetsk Cosmodrome                       130
Rocket Lab Launch Complex 1                82
Tanegashima Space Center                   38
Dombarovsky Air Base                       37
Wallops Island Flight Facility             37
International Space Station                31
Sea Launch Odyssey                         25
Cygnus                                     22
Yellow Sea Launch Platform                 16
Satish Dhawan                              12
International Space Station - Cygnus       12
Orbital ATK L-1011                          8
Uchinoura Space Center                      8
Virgin Orbit                                7
Wenchang Space Center                       6
Palmachim Launch Complex                    6
FANTM-RAiL [Xtenti]                         5
Kodiak Launch Complex                       3
Wenchang Satellite Launch Center            3
FANTM-RAiL (Xtenti)                         3
International Space Station - Antares       2
Svobodny Cosmodrome                         2
Kwajalein Island                            2
Stargazer L-1011                            1
Dragon CRS-17                               1
Shahroud Missile Base                       1
Antares                                     1
Naro Space Center                           1
Name: Launch Site, dtype: int64

In [10]:
type(sites_counts)

pandas.core.series.Series

In [11]:
list_sites = sites_counts.index.tolist()

In [12]:
list_countries = ['USA', 'Kazakhstan', 'French Guiana', 'India', 'Kazakhstan','USA', 'China', 'China','China','Russia', 'New Zealand', 'Japan','Russia', 'USA', 'International', 'International', 'USA', 'China',  'India', 'USA', 'USA', 'Japan', 'USA', 'China', 'Israel', 'USA', 'USA', 'China', 'USA', 'USA', 'Russia', 'Marshall Islands', 'USA', 'USA','Iran', 'USA', 'South Korea']

In [13]:
dict_sites = dict(zip(list_sites, list_countries))

In [14]:
dict_sites

{'Cape Canaveral': 'USA',
 'Baikonur Cosmodrome': 'Kazakhstan',
 'Guiana Space Center': 'French Guiana',
 'Satish Dhawan Space Centre': 'India',
 'Vostochny Cosmodrome': 'Kazakhstan',
 'Vandenberg AFB': 'USA',
 'Jiuquan Satellite Launch Center': 'China',
 'Taiyuan Launch Center': 'China',
 'Xichang Satellite Launch Center': 'China',
 'Plesetsk Cosmodrome': 'Russia',
 'Rocket Lab Launch Complex 1': 'New Zealand',
 'Tanegashima Space Center': 'Japan',
 'Dombarovsky Air Base': 'Russia',
 'Wallops Island Flight Facility': 'USA',
 'International Space Station': 'International',
 'Sea Launch Odyssey': 'International',
 'Cygnus': 'USA',
 'Yellow Sea Launch Platform': 'China',
 'Satish Dhawan': 'India',
 'International Space Station - Cygnus': 'USA',
 'Orbital ATK L-1011': 'USA',
 'Uchinoura Space Center': 'Japan',
 'Virgin Orbit': 'USA',
 'Wenchang Space Center': 'China',
 'Palmachim Launch Complex ': 'Israel',
 'FANTM-RAiL [Xtenti]': 'USA',
 'Kodiak Launch Complex': 'USA',
 'Wenchang Satellite Launch Center': 'China',
 'FANTM-RAiL (Xtenti)': 'USA',
 'International Space Station - Antares': 'USA',
 'Svobodny Cosmodrome': 'Russia',
 'Kwajalein Island': 'Marshall Islands',
 'Stargazer L-1011': 'USA',
 'Dragon CRS-17': 'USA',
 'Shahroud Missile Base': 'Iran',
 'Antares': 'USA',
 'Naro Space Center': 'South Korea'}

In [15]:
dict_sites['Cape Canaveral']

'USA'

In [16]:
df['Launch site Country'] = " "

In [ ]:
for i,site in enumerate(df['Launch Site']):
    #print(type(site))
    if type(site) == str:
        site_country = dict_sites[site]
        print(site)
        print(site_country)
        df.at[i, 'Launch site Country'] = site_country

In [18]:
pd.to_pickle(df, "ucs_pickle.p")

In [19]:
df.to_csv('ucs_cleaned.csv')